
<div class="row-fluid marketing">
    <div class="span10">

        <h4>RECENT BLOG POSTS</h4>

        <ul>

        {% for post in site.posts limit:10%}
            <li>
        <strong>
            <!--&raquo; -->
            <a href="{{ post.url }}">{{ post.title }}</a></strong>
        <br/>
                <p>
        <small>{{ post.quote }}</small></p>

            </li>
        {% endfor %}

        </ul>
        <p>
            <a href="/archives.html">Full post archive</a>
        </p>


    </div>
</div>