<div class="bio">

  <div class="image">
    <img src="/images/me-bw-small.png"/>
  </div>
  <div class="text">

    <div class="title">About the author</div>


    <p>
    Alex Holmes is a senior software engineer with over 15 years of experience developing large scale
    distributed Java systems. For the last four years he has gained expertise in Hadoop solving Big
    Data problems across a number of projects. He is the author of
    "<a href="http://www.manning.com/holmes/">Hadoop in Practice</a>", a book
    published by Manning Publications. He has presented at JavaOne and Jazoon and is currently a
    technical lead at VeriSign.

    </p>
    <p>
    If you want to see what Alex is up to you can check out his
    work on
      <a href="https://github.com/alexholmes">GitHub</a>,
      or follow him on
      <a href="http://twitter.com/grep_alex">Twitter</a> or
      <a href="https://plus.google.com/107999910219687346132?rel=author">Google+</a>.
    </p>
  </div>
</div>
