
<div class="bio">
<div class="row-fluid">
    <div class="span12">
        <h4>About the author</h4>
    </div>
</div>
<div class="row-fluid">
    <div class="span2">
        <img src="/images/me-bw-small.png"/>
    </div>
    <div class="span2">
        <a href="http://www.manning.com/holmes/"><img src="/images/holmes_cover100.jpg" alt="Hadoop in Practice, First Edition" /></a>
    </div>
    <div class="span2">
        <a href="http://www.manning.com/holmes2/"><img src="/images/holmes2_cover100.jpg" alt="Hadoop in Practice, Second Edition" /></a>
    </div>
    <div class="span6">

        <p>
            Alex Holmes is a senior software engineer with over 15 years of experience developing large scale
            distributed Java systems. Since 2008 he has gained expertise in using Hadoop to solve Big
            Data problems across a number of projects. He is the author of
            <b>Hadoop in Practice</b> (<a href="http://www.manning.com/holmes/">first edition</a>, with
            <a href="http://www.manning.com/holmes2/">second edition</a> currently in the early access program), a book
            published by Manning Publications. He has presented at JavaOne and Jazoon.
        </p>
        <p>
            If you want to see what Alex is up to you can check out his
            work on
            <a href="https://github.com/alexholmes">GitHub</a>,
            or follow him on
            <a href="http://twitter.com/grep_alex">Twitter</a> or
            <a href="https://plus.google.com/107999910219687346132?rel=author">Google+</a>.
        </p>
    </div>
</div>

</div>