
<div class="bio">
<div class="row-fluid">
    <div class="span12">
        <h4>About the author</h4>
    </div>
</div>
<div class="row-fluid">
    <div class="span2">
        <img src="/images/me-bw-small.png"/>

    </div>
    <div class="span2">
        <a href="http://www.manning.com/holmes/"><img src="/images/holmes_cover100.jpg" alt="Hadoop in Practice" /></a>

    </div>
    <div class="span8">

        <p>
            Alex Holmes is a senior software engineer with over 15 years of experience developing large scale
            distributed Java systems. Since 2008 he has gained expertise in using Hadoop to solve Big
            Data problems across a number of projects. He is the author of
            "<a href="http://www.manning.com/holmes/">Hadoop in Practice</a>", a book
            published by Manning Publications. He has presented at JavaOne and Jazoon.
        </p>
        <p>
            If you want to see what Alex is up to you can check out his
            work on
            <a href="https://github.com/alexholmes">GitHub</a>,
            or follow him on
            <a href="http://twitter.com/grep_alex">Twitter</a> or
            <a href="https://plus.google.com/107999910219687346132?rel=author">Google+</a>.
        </p>
    </div>
</div>

</div>