<div id="header">
  <div id="title"><span style="font-size:1.8em"><a href="/">Hello! </a></span><a href="/">I'm Alex Holmes.</a></div>
  <div id="byline">Author of <a target="_blank" href="http://www.manning.com/holmes/">Hadoop in Practice</a> from Manning
      Publishing, and
      <a target="_blank" href="https://github.com/alexholmes">Java/*nix hacker</a>.</div>
    <div id="misc">
        <a href="/">BLOG</a> &middot;
        <a href="/about.html">ABOUT</a>  &middot;
        <a href="/follow.html">FOLLOW</a> &middot;
        <a target="_blank" href="https://github.com/alexholmes">GITHUB</a>
  </div>
</div>
