<div id="header">
  <div id="title"><span style="font-size:1.2em"><a href="/">Hello! </a></span><a href="/">I'm Alex Holmes.</a></div>
  <div id="byline">Hadoop <a target="_blank" href="http://www.manning.com/holmes/">author</a> and
      <a target="_blank" href="http://twitter.com/grep_alex">Java/*nix hacker</a> on the lookout for useless cats and other programmer perils.</div>
    <div id="misc">
    <a target="_blank" href="http://twitter.com/grep_alex">twitter</a> &middot;
    <a target="_blank" href="https://github.com/alexholmes">github</a>
  </div>
</div>
