<div id="header">
  <div id="title"><span style="font-size:1.8em; font-weight: bold;"><a href="/">Hello! </a></span><a href="/">I'm Alex Holmes.</a></div>
  <div id="byline"><a target="_blank" href="https://github.com/alexholmes">Java/*nix</a> software guy,
      speaker, and author of <a target="_blank" href="http://www.manning.com/holmes/">Hadoop in Practice</a> from Manning
      Publishing.</div>
    <div id="misc">
        <a href="/archives.html">BLOG ARCHIVE</a> &middot;
        <a href="/follow.html">FOLLOW</a> &middot;
        <a href="/about.html">ABOUT</a>

  </div>
</div>
