<!DOCTYPE html>
<html>
<head>
  <title>
    {% if page.title %}
      {{ page.title }} - Ramblings of a distributed computing programmer
    {% else %}
      {{ site.posts.first.title }} - Ramblings of a distributed computing programmer
    {% endif %}
  </title>
  <link rel="stylesheet" href="/stylesheets/screen.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/tomorrow_night.css" />
  <link rel="author" href="/about.html">
  <link href="/atom.xml" rel="alternate" title="Atom Feed" type="application/atom+xml">
</head>
<body>
  <div class="content">
    {% include header.html %}
  </div>
  <div class="content">
  {{ content }}
  </div>
  <div class="related">
    <h3>all posts</h3>
    <p>
			<table>
				<tbody>
					{% for post in site.posts %}
					<tr>
						<td>
							{{ post.date | date: "%b %d, %Y" }} 
						</td>
						<td>
							&raquo;
						</td>
						<td>
							<a href="{{ post.url }}">{{ post.title }}</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</p>
    <br />
  </div>
  <div class="content">
      {% include footer.html %}
  </div>
</body>
</html>
