---
layout: bare
title: Ramblings of a distributed computing programmer
---


<div class="jumbotron">
    <h1>Welcome to grepalex.com!</h1>
    <p class="lead">I'm your host, Alex, and this here site is where I journal things that I discover during my
        travels as a software guy. If you want to learn more about me, hop on over to my <a href="/about.html">brief bio</a>,
    or pick up a copy of <a href="http://www.manning.com/holmes/">my book</a> :-) I have some bits and bobs on
        <a href="https://github.com/alexholmes">GitHub</a>,
        and you can also follow me on
        <a href="http://twitter.com/grep_alex">Twitter</a> or
        <a href="https://plus.google.com/107999910219687346132?rel=author">Google+</a>.

    </p>
</div>

<div class="row-fluid">
    <div class="span6 pagination-centered">
        <p><a href="http://www.manning.com/holmes/">First Edition</a></p>
        <a href="http://www.manning.com/holmes/"><img src="/images/holmes_cover150.jpg" alt="Hadoop in Practice" /></a>
    </div>
    <div class="span6 pagination-centered">
        <p><a href="http://www.manning.com/holmes2/">Second Edition (Early Access)</a></p>
        <a href="http://www.manning.com/holmes2/"><img src="/images/holmes2_cover150.jpg" alt="Hadoop in Practice" /></a>
    </div>
</div>

<hr>

{% include articles-tweets.html %}

